@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {

    font-family: 'Work Sans', sans-serif;
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    ;
}

.container-width {
    max-width: 1440px;
    margin: 0 auto;
}

/* shaire style start */
.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
}

.btn-big {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    gap: 10px;
    background-color: #FFF;
    border-radius:48px;
    border: 0;
    color: #F948B2;

}

#btn-2 {
    background-color: #4EC5F7;
}



/* shaire style end */

/* start navbar  */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 50%;

}

.amar-section {
    color: #FF42A5;
}

.logo-container p {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
}

.nav-container ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-container ul li {
    list-style-type: none;
}

.nav-container ul li a {
    text-decoration: none;
    margin-left: 2rem;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


/* start banner section  */
.banner-container {
    display: flex;
    justify-content: space-around;
    background-image: url('../images/Group14.png');
    background-repeat: no-repeat;
    left: 0;
    top: 0;


}

.banner-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-text-container {}

.banner-text-container h2 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text-container h1 {

    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text-container li {
    list-style-type: none;
    color: #534C60;
    font-size: 25px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 27px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 90%;
}

/* online games section  */
.games-section {
    padding: 50px 0;
}

.games-section h1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.games-section p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card p{
    color: #534C64;
font-size: 1rem;
font-weight: 500;
text-align: left;

}

/* Careers  section start  */
.careers {
    background-color: #F948B2;
    display: flex;
    align-items: center;
    padding: 50px 0;

}

.careers-text {
    width: 50%;
    margin-left: 240px;
    color: #FFF;
}

.careers-text h3 {

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.careers-img {
    width: 50%;

}

.careers-img img {
    width: 100%;
}

.careers-items {
    display: flex;
}

.career-text1 {
    text-align: left;
}

.career-text2 {
    text-align: right;
}

.careers-items li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;

}

/* avatars section  */
.avatars-section{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.avatar{
    width: 243px;
    display: flex;
    border-radius: 50px;
background: #FFF;
padding: 5px;
}
.avatar p{
    color: #0B0223;

font-weight: 600;
padding: 0 10px;
}

.single-avatar{
    border: 1px solid #F948B2;
}
.single-avatar p{
    color: #F948B2;
}