@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {

    font-family: 'Work Sans', sans-serif;
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;

}


.container-width {
    max-width: 1440px;
    margin: 0 auto;
}

/* shaire style start */
.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
}

.btn-big {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    gap: 10px;
    background-color: #FFF;
    border-radius: 48px;
    border: 0;
    color: #F948B2;

}

.btn-secondary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;

    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 20px;
}


/* shaire style end */

/* start navbar  */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;

    width: 50%;
    margin: 0 auto;

}

.nav-sining {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 18px;

    padding: 5px 10px;
}

.youtube {
    padding: 0 5px;
    color: red;
}

.amar-section {
    color: #FF42A5;
}

.logo-container p {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
}

.nav-container ul {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.nav-container ul li {
    list-style-type: none;
}

.nav-container ul li a {
    text-decoration: none;
    margin-left: 2rem;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


/* start banner section  */
.banner-container {
    display: flex;
    justify-content: space-around;
    background-image: url('../images/Group14.png');
    background-repeat: no-repeat;
    left: 0;
    top: 0;

}

.banner-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-text-container {}

.banner-text-container h2 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text-container h1 {

    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text-container li {
    list-style-type: none;
    color: #534C60;
    font-size: 25px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 27px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 90%;
}

/* small banner section  */
.small-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-banner-img {
    width: 50%;
}

.small-banner-img img {
    width: 100%;
}

.small-banner-text {
    width: 50%;
    text-align: right;
}

.small-text-container h3 {
    font-size: 48px;
    font-weight: 700;
}

.small-banner-text p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;

}

.small-banner-text h4 {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;

}

/* online games section  */
.games-section {
    padding: 50px 0;
}

.games-section h1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.games-section p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ply-text-color{
   
font-size: 20px;
font-weight: 700;
color: #F948B2 !important;

}
.card-icon {
    border-radius: 20px;
    position: relative;
    top: -474px;
    left: 0px;
    font-size: 70px;
    background-color: #3c354fbf;
    height: 397px;
    width: 341px;
    border: 1px solid red;
}
.icon {
    color: white;
    position: relative;
    top: 150px;
    left: 125px;
    cursor: pointer;
}

.card p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;

}

/* play game section start heare */
.play-game {

   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.play-game-img-container {
    width: 50%;

}

.play-game-text-container {
    width: 50%;
    margin-left: 113px;
}

.img-bg {
    width: 600px;
    border: 1px solid #F948B2;
    border-radius: 5px;
}

.play-small-img {
  
    position: relative;
    bottom: 300px;
    left: 400px;
}
.play-small-img img{
    width: 100px;
    height: 100px;
}
.play-game-container h3 {
    font-size: 48px;
    ;
    font-weight: 700;
    line-height: 60px;
}

.play-game-container p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

/* play game section end heare */
/* Careers  section start  */
.careers {
    background-color: #F948B2;
    display: flex;
    align-items: center;
    padding: 50px 0;

}

.careers-text {
    width: 50%;
    margin-left: 240px;
    color: #FFF;
}

.careers-text h3 {

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.careers-img {
    width: 50%;

}

.careers-img img {
    width: 100%;
}

.careers-items {
    display: flex;
}

.career-text1 {
    text-align: left;
}

.career-text2 {
    text-align: right;
}

.careers-items li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;

}

/* avatars section  */
.avatars-section {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.avatar {
    width: 243px;
    display: flex;
    border-radius: 50px;
    background: #FFF;
    padding: 5px;
    transition: 1s;
}

.avatar p {
    color: #0B0223;

    font-weight: 600;
    padding: 0 10px;
}

.avatar:hover {
    border: 1px solid #F948B2;
}

.single-avatar p {
    color: #F948B2;
}


/* start a footer section  */
footer {
    background-color: #0B0223;
    color: #FFF;
}

.footer-container {
    padding: 50px 0;
}

.footer-logo {
    text-align: center;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.footer-logo-container p {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.footer-logo-container img {
    width: 86px;
    height: 40px;
}

footer ul { 
    display: flex;
    justify-content: center;
    gap: 60px;
}

footer ul li {
    list-style: none;

}

.footer-item1 li {

    color: #FFF;
    font-size: 18px;
    font-weight: 600;

}

.footer-icon {
    padding: 20px 0;
}

.footer-icon li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    color: #F948B2;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;


}

.footer-support {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0;
}

.footer-copyright {
    text-align: center;
    margin-top: 3rem;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
















/* mobile device  */
@media screen and (max-width:576px) {
    .nav-container,
    .nav-container ul
     {
        flex-direction: column;
    }

    .nav-container ul {
        width: 100%;
    }

    .nav-container ul li a {
        line-height: 40px;

    }

    .cards {

        grid-template-rows: repeat(1, 1fr);
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .nav-container ul {
        text-align: center;
    }

    .logo-container {
        width: 100%;
        justify-content: center;
    }


    .small-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .small-banner-img {
        width: 100%;
        text-align: center;
    }

    .small-banner-img img {
        width: 100%;
        text-align: center;
    }

    .small-banner-text {
        width: 100%;
        text-align: center;
    }

    .small-text-container h3 {
        text-align: center;
        font-size: 30px ;
    }

    .small-banner-text p {

        text-align: center;

    }

    .small-banner-text h4 {
        text-align: center;


    }


    .card-icon {

        top: -444px;
        left: 0;
        margin: 0 auto;
        height: 395px;
        width: 338px;

    }

    .icon {
        left: 0px;

    }

    .btn-secondary {

        margin-top: 20px;
        margin-left: 0;
    }

    .cards {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .games-section h1 {
        font-size: 24px;
    }

    .games-section p {
        font-size: 15px;
    }

    .card p {
        text-align: center;
        font-size: 11px;
    }

    .play-game {
       grid-template-columns:1fr;
    }

    .play-game-img-container {
        width: 100%;
        padding: 0 20px;

    }

    .play-game-text-container {
      width: 100%;
      margin:  0 auto;
      text-align: center;
    }
      .play-small-img {
        bottom: 130px;
        width: 50%;
        left: 150px;
    }
    .img-bg {

        width:50%;
    }


    .careers {
        padding: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .careers-text {
        width: 100%;
        margin: auto;
        padding: 20px 0;
    }

    .careers-img {
        width: 100%;

    }

    .careers-items {
        display: flex;
        justify-content: space-around;
 text-align: left;
    }

    .career-text1 {
    text-align: left;
    }



    .footer-item1 li {
        font-size: 5px;

    }

    .footer-icon,
    .footer-item1
     {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.footer-item1 li{
    font-size: 10px;
}
.foote-support{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-copyright{
    font-size: 10px;
}
    footer ul {

        gap: 38px;
    }
}